<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="body">
    <div class="CrearCuenta">
        <h1 class="title">Crear Cuenta</h1>
        <form class="registerForm" id="registroForm">
            <input class="input" type="text" id="nombre" placeholder="Nombre completo" required>
            <input class="input" type="email" id="correo" placeholder="Correo electrónico" required>
            <input class="input" type="password" id="contrasena" placeholder="Contraseña" required>
            <input class="input" type="password" id="verificar" placeholder="Confirmar contraseña" required>
            <button class="btn" type="submit">Registrarse</button>
        </form>
        <p class="pa">¿Ya tienes cuenta? <a class="ref" href="index.html">Inicia sesión</a></p>
    </div>
    <script src="register.js"></script>
</body>
</html>