<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="body">
    <div class="IniciarSesion">
        <h1 class="title">Iniciar Sesión</h1>
    <form class="loginForm" id="loginForm">
        <input class="input" type="email" id="correo" placeholder="Correo electrónico" required>
        <input class="input" type="password" id="contrasena" placeholder="Contraseña" required>
        <button class="btn" type="submit">Ingresar</button>
    </form>
    <p class="pa">¿No tienes cuenta? <a class="ref" href="/View/register/registrar.html">Regístrate</a></p>
    </div>
    <script src="login.js"></script>
</body>
</html>