<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crear Lista</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="container">
    <button class="btn-guardar" onclick="location.href='/NuevoMenu/Menu.html'">Volver</button>
    <h1 class="titulo">Crear Lista</h1>
    <form class="formulario">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />

      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" rows="4"></textarea>

      <button type="submit" class="btn-guardar">Guardar Lista</button>
    </form>
  </div>
</body>
</html>
