body {
    font-family: Arial, sans-serif;
    background: #aef0ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

  }
  
  .container {
    max-width: 900px;
    margin: 4rem auto;
    padding: 8rem;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 20px #000;
  }
  
  .titulo {
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
  }
  
  .btn {
    background-color: #7ff5f5;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  .formulario label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .formulario input,
  .formulario select,
  .formulario textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    color: #000;
  }
  
  .btn-guardar {
    padding: 12px;
    background-color: #00bfa6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-guardar:hover {
    background-color: #5a79e6;
  }