body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #aef0ed;
    color: #fff;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 25%;
    background-color: #62d1c2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem 1.5rem;
    gap: 1.5rem;
  }
  
  .btn {
    background-color: #7fedf5;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    color: #353333;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #5ad6e6;
  }
  
  .cerrar {
    align-self: flex-start;
  }
  
  .main {
    width: 75%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .titulo {
    color: #233;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card {
    width: 60%;
    background-color: #849efc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;
  }
  
  .card-header,
  .card-footer {
    background-color: #1e8a85;
    color: white;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .card-footer {
    margin-top: auto;
  }