<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Crear Tarea</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="container">
    <button class="btn" onclick="location.href='dashboard.html'">Volver</button>
    <h1 class="titulo">Crear Tarea</h1>
    <form class="formulario">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" value="Titulo de la tarea" required />

      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" name="descripcion" rows="4">Descripción de la tarea</textarea>

      <label for="fecha">Fecha límite:</label>
      <input type="date" id="fecha" name="fecha" value="dd-mm-aaaa" required />

      <label for="categoria">Categoría:</label>
      <select id="categoria" name="categoria">
        <option value="escuela">Escuela</option>
        <option value="trabajo">Trabajo</option>
        <option value="personal">Personal</option>
      </select>
      <label for="listaTareas">Selecciona una lista:</label>
      <select id="listaTareas" name="listaTareas">
        <option value="nueva" id="opcionNuevaLista">+ Crear nueva lista...</option>
      </select>
      

      <button type="submit" class="btn-guardar">Guardar Tarea</button>
    </form>
  </div>
</body>
</html>