body {
    margin: 0;
    padding: 0;
    background: #aef0ed;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #222;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
  }
  
  .titulo {
    text-align: center;
    color: #eeeeee;
    margin-bottom: 2rem;
  }
  
  .btn {
    background-color: #7ff5f5;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    color: #272626;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  .formulario label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .formulario input,
  .formulario select,
  .formulario textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    color: #000;
  }
  
  .btn-guardar {
    margin-top: 2rem;
    padding: 0.75rem;
    background-color: #7ff5f5;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-guardar:hover {
    background-color: #5a79e6;
  }